body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
    font-size: 1.25rem;

}

h1 {
    text-align: center;
}

h2 {
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 10%;
}

.comp-list {
    border-radius: 2ex;
    padding: 2ex;
    max-width: 1200px;
    width: calc(50vw + 5vh);
    margin-inline: auto;
}

.comp-card{
    box-shadow: 0px 0px 10px gray;
    border-radius: 2ex;
    padding: 0.1rem 1rem;
    margin-block: 2rem;
}

.hidden {
    display:none;
}

.status {
    font-weight: lighter;
    font-style: italic;
    font-size: 1.2rem;
    text-transform: none;
    vertical-align: top;
}

.status-0 {
    color: red;
}
.status-1 {
    color: green;
}
.status-2 {
    color: green;
    font-weight: bold;
}

.floating-btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    position: fixed;
    font-size: 4rem;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: white;
    background: cadetblue;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.modal-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.modal {
    background: #fff;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0 0 10px darkgray;
}

#close-btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form > * {
    margin-block: 0.5rem;
    margin-inline: 0.25rem;
    border-radius: 1ex;
}

form > input {
    box-shadow: 0px 0px 10px gray;
    border-radius: 2ex;
    border: none;
    padding-inline: 0.5rem;
}

label {
    text-transform: uppercase;
    font-weight: bold;
}


#submit {
    grid-column: 1/3;
    background-color: cadetblue;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.75rem;
    cursor: pointer;
}

#edit {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    background-color: cadetblue;
    border: none;
    border-radius: 2ex;
    padding: 0.25rem 1rem;
    margin-top:  1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.hr {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
}